version: "3.9"

services:
  ai-agent:
    build:
      context: .
      dockerfile: src/main/docker/Dockerfile.jvm
    container_name: ai-agent
    ports:
      - "8080:8080"
    restart: always
    networks:
        - cloudflare_networks
        - ai-network
    env_file:
        - .env

networks:
  ai-network:
    driver: bridge
    name: ai-network
  cloudflare_networks:
    external: true

